.body{
  background-color: beige;
}

.samanta{
  background-color: aquamarine;
  border-radius: 50%;
  padding: 10px;
}

.image_box{
 width: 200px;
 height: 200px;
 padding: 20px;
}

.star {
  color: goldenrod;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 2px;
}

.star::before { content:'\2606'; }
.star.rated::before { content:'\2605'; }